services:
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./backend
    environment:
      PORT: 8080
      APP_URL_CLIENT: ${APP_URL_CLIENT:-http://localhost:3000}
      APP_URL_API: ${APP_URL_API:-http://localhost:8080}
      CHOKIDAR_USEPOLLING: "true"
    ports:
      - "8080:8080"
    depends_on:
      - mongo
    volumes:
      - ./backend:/app
      - backend_node_modules:/app/node_modules
    command: npm run start:dev

  frontend:
    build:
      context: ./frontend
    environment:
      HOST: 0.0.0.0
      CHOKIDAR_USEPOLLING: "true"
      REACT_APP_API_URL: ${REACT_APP_API_URL:-http://localhost:8080}
    ports:
      - "3000:3000"
    depends_on:
      - backend
    stdin_open: true
    tty: true
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules

volumes:
  mongo_data:
  backend_node_modules:
  frontend_node_modules:
